plugins {
  	    id 'nf-google'
}

workDir = 'gs://omicstack-signed-urls/work'

process {
    executor = 'google-batch'
}

docker {
  	    enabled = true
}

google {
  	    project = 'omicstack'
  	    location = 'us-central1'
}

batch {
  	    allowedLocations = ['us-central1']
  	    bootDiskSize = '200 GB'
}
